.card {
    margin:40px auto;
    width:600px;
    height:300px;
    background:#d6dbd9;
}



.card-modal{
    width:70%;
    max-height:auto;

}

.concept-modal
{
    margin-top: 40px
}

.modal-btn
{
    position: absolute;
    bottom:0;
    right:0;
}

.row{
    margin:0;
}