.card {
    margin:40px auto;
    width:600px;
    height:300px;
    background:#d6dbd9;
}

.card-modal{
    width:70%;
    max-height:auto;

}

.concept-modal
{
    margin-top: 40px
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #878b8a;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
    color: #eee;
}

.modal-btn{
    right: 0;
    bottom: 0;
    width: auto;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}

.left{
    left:0;
}

.right{
    right:0;
}

.row{
    margin:0;
}

.btn-primary{
    background-color: #e62739!important;
    border-color: #e62739!important;
    position: absolute!important;
    bottom:0!important;
    margin: 5px!important;
}

.btn-primary:hover{
    background-color: #ff6c7a!important;
    border-color: #e62739!important;
    
}

.btn-primary:focus{
    background-color: #ff6c7a!important;
    border-color: #e62739 !important;
    
}

.btn-primary:active{
    background-color: #e62739!important;
    box-shadow: 0 5px #666 !important;
    transform: translateY(4px);

}

.header {
    background: #efefef;
    
}

.header h1 {
    color:#e62739;
    margin-left: 20px;
}